/* Dashboard Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.metrics {
  margin-bottom: 20px;
}

.charts-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Centro vertical */
  width: 100%;
  height: auto; /* Ajusta la altura para permitir flexibilidad en la altura */
}

.pie-chart {
  width: 30%; /* Ajusta el ancho del gráfico de pie */
  margin-right: 20px;
}

.bar-charts {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centro horizontal */
  width: 70%; /* Ajusta el ancho de los gráficos de barras */
}

.chart {
  margin: 10px 0;
  width: 100%; /* Ajusta el ancho de cada gráfico de barra al 100% del contenedor */
  height: 300px; /* Ajusta la altura de cada gráfico de barra según sea necesario */
}

.chart h3 {
  margin:  0px 5px 0px;
  text-align: center;
}

@media (max-width: 900px) {
  .charts-container {
    flex-direction: column; /* Cambia la dirección del diseño a columna en pantallas más pequeñas */
    height: auto; /* Permite que la altura se ajuste automáticamente en pantallas más pequeñas */
  }

  .pie-chart {
    width: 80%;
    margin-right: 0;
  }

  .bar-charts {
    width: 100%;
    max-width: 100%; /* Permite que los gráficos de barras ocupen el 100% en pantallas pequeñas */
  }

  .chart {
    width: 100%; /* Reduce el ancho de cada gráfico de barra en pantallas más pequeñas */
    height: 300px; /* Ajusta la altura de cada gráfico de barra */
  }
}
